<div id="search_options">
<form name="search_options">

	<input type="hidden" name="form" value="search">
	
	<div class="search_option" data-so_category="company" style="width:160px">
		<div class="so_head">
			<input type="button" value="-" id="company_butt" class="cmm" data-button="toggle">
			<label for="company_butt" class="title">کمپانی</label>
			<br><br>
		</div>
		
		<div id="company" class="cb">
			here
		</div>
	</div>
	

	<input class="butt" type="button" value="Clear">

</form>
</div>