
#products_and_options {
	float:right;
	width:100%;
	
	background: #f4f4f4;
	background: -moz-linear-gradient(left,  #f4f4f4 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f4f4f4), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(left,  #f4f4f4 0%,#e5e5e5 100%);
	background: -o-linear-gradient(left,  #f4f4f4 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(left,  #f4f4f4 0%,#e5e5e5 100%);
	background: linear-gradient(to right,  #f4f4f4 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e5e5e5',GradientType=1 );
	
	background: silver;

}

#products {
	width:75%;
	float:right;
	margin: 0;
	padding:0;
	/* border:1px solid black; */
}

#products_pagination {
	direction: rtl;
}
